PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio
JWT_SECRET=super_secure_jwt_secret_key_mohamed_alaa_portfolio_2026
JWT_EXPIRE=30d
ADMIN_EMAIL=mohamedalaaelnasharedu@gmail.com
ADMIN_PASSWORD=admin123456
CLIENT_URL=http://localhost:5173

# Optional: Cloudinary Configuration for Image Uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
